.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8); /* Темный фон */
    z-index: 1000; /* Обеспечивает отображение над другими элементами */
  }
  
  .bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    z-index: -1;
  }
  .spinner {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg, #d6336c, #ff6b6b);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 3.0s infinite ease-in-out;
  }
  .double-bounce2 {
    animation-delay: -1.0s;
  }
  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0);
    } 50% {
      transform: scale(1);
    }
  }
  